<div id="<%= dom_id myfriend %>">
  <p>
    <strong>User name:</strong>
    <%= myfriend.user_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= myfriend.first_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= myfriend.email %>
  </p>

</div>
