
<footer >
    <br><br>
    <nav class="navbar-expand-lg navbar-dark bg-dark">
        <div  class="d-flex justify-content-around">
            <div class="d-flex justify-content-between">
                <p class="text-light"> © 2022 -Developer Tamara Brevers</p>
                <a  class="text-light" href="https://brevers.github.io/">.  -More about me-</a>
            </div>
        </div>
    </nav>
</footer>